@import 'tailwindcss';

:root {
    @theme {
        --color-body-main: #09090b;
        --color-primary: #1a73e8;
        --color-secondary: #d946ef;
        --color-npc: #22c55e;
        --color-guide: #f59e0b;
        --color-community: #ef4444;
    }
}
