@import 'tailwindcss';

:root {
    --bg-color: #09090B;
    --primary-color: #1A73E8;
    --secondary-color: #D946EF;
    --npc-color: #22C55E;
    --guide-color: #F59E0B;
    ---community-color: #EF4444;
}